.Kayfable {
    text-align: center;
}

.kayfable-form {
    display: flex;
}

.kayfable-guess-area {
    position: relative;
    margin-top: 1.5rem;
    width: 16rem;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: inherit;

}

.kayfable-dropdown-input {
    margin-left: -1.125rem;
    width: 16rem;
    border-radius: 0.375rem;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.kayfable-dropdown-input:focus {
    border-color: rgb(79 70 229);
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}


.kayfable-dropdown-list {
    width: 18.25rem;
    display: block;
    list-style: none;
    position: absolute;
    left: -1.125rem;
    right: 0;
    padding: 0;
    margin: 0;
    top: 100%;
    background-color: rgb(199 210 254);
    border-color: rgb(99 102 241);
    border-radius: 0.375rem;
    z-index: 20;

}

.kayfable-dropdown-content {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(67 56 202);

}

.kayfable-dropdown-content:hover {
    background-color: rgb(99 102 241);
    cursor: pointer;
    color: white;
}

.kayfable-table-area {
    display: flex;

}

.kayfable-table {
    position: relative;
    width: 80%;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    overflow: auto;
}

.kayfable-table table {
    width: 80%;
    margin: auto;
    border: 1px solid #000;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: fixed;
}

.table-wrap {
    position: relative;
}

.kayfable-table th,
.kayfable-table td {
    padding: 15px 10px;
    border: 1px solid #000;
    background: #fff;
    vertical-align: top;
}

.kayfable-table thead th {
    background: #333;
    color: #fff;
    position: sticky;
    top: 0;
}

th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

thead th:first-child,
tfoot th:first-child {
    z-index: 5;
    width: 30%;
}

.kayfable-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background-color: #fff;
    border: 5px solid #0C4A6E;
    max-height: 80%;
    max-width: 90%;
    transform: translate(-50%, -50%);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

.kayfable-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.37);
}

.kayfable-header {
    display: flex;
    justify-content: right;
    align-items: flex-end;
}