@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');

.navbar-header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 3rem;
    padding: 1rem 1rem 0 2rem;
    background: #000000;
}

.h-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.logo-wrap {
    z-index: 20;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;width: 0;
    height: 0;
    border-style: solid;
    border-width: 6rem 3.5rem 0 3.5rem;
    border-color: #000000 transparent transparent transparent;
}

.navbar {
    list-style: none;
    margin: 0 0 0.6rem;
    text-shadow: 2px 2px 5px black;
}

.navbar li {
    display: inline;
    padding: 0 0.5rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    transition: 200ms ease-in;
    color: tomato;
}

.navbar .btn {
    color: white;
    margin: 0 0 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    background: steelblue;
}

.navbar .btn:hover {
    transition: 200ms ease-in;
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar-header {
        height: 20rem;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem 0 1rem;
    }

    .h-container {
        flex-direction: column;
        align-items: center;
    }

    .logo-wrap {
        position: relative;
        margin-top: 1rem;
    }

    .navbar {
        margin: 0;
    }

    .navbar li {
        display: block;
        text-align: center;
        margin-bottom: 1rem;
    }
}